*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 100px;
}

p {
  color: #494949;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
}
